In [ ]:
print("This is Nik")

In [ ]:
#type casting
#Implicit Type Conversion:
a=10
b=20.1
print(a+b)

In [ ]:
#2. Explicit Type Conversion / Type Cast:

a="10"
a1=int(a)
b=20
print(a1+b)

In [ ]:
a=10

b=20
print(a+b)

In [ ]:
a="I Love "

b="India"
print(a+b)

In [ ]:
a="10"

b="20"
print(a+b)

In [ ]:
a=10
b=20
print(a*b)

In [ ]:
a="India "
b=3
print(a*b)

In [ ]:
print("India"*3)

In [ ]:
a=int(input("Enter a Number"))
print("My number is ",a+a)

In [ ]:
a=float(input("Enter a Number"))
print("My number is ",a+a)

In [ ]:
a=str(input("Enter a Number"))
print("My number is ",a+a)

In [ ]:
a=input("Enter a Number")
print("My number is ",a+a)

In [ ]:
a=input()
print("My number is ",a+a)

In [ ]:
a=10
print(a)

In [ ]:
a=10
print(a) #A

In [ ]:
a003=10
print(a003)

In [ ]:
_First_name="ABC"
print(_First_name)

In [ ]:
First$name="ABC"
print(First$name)

In [ ]:
First name="ABC"
print(First name)

In [ ]:
a=5
b=2
print(a%b)

In [ ]:
a=5
b=2
print(a//b)

In [ ]:
a=5
b=2
print(a/b)

In [ ]:
a=5
b=2
print(a*b)

In [ ]:
a=10
b=3
print(a**b)#10*10*10

In [ ]:
x=9
x=x+9
print(x)

In [ ]:
x=9
x += 9
print(x)

In [ ]:
a=7
b=6
print(a&b)

In [ ]:
print(15>>1)

In [ ]:
print(11>>1)

In [ ]:
print(14<<1)

In [ ]:
print(10==10)

In [ ]:
print(10!=10)

In [ ]:
print(10>10)

In [ ]:
print(10>=10)

In [ ]:
print(10<10)

In [ ]:
print(10<=10)

In [ ]:
x=5
print(x<10 and x>8)

In [ ]:
x=5
print(x>10 or x>8)

In [ ]:
x=5
print(not(x>10 or x>8))

In [ ]:
a=10
print(not((a%3 ==0)or(a%5==0)))

In [ ]:
a=["Apple","Banana"]
print("kiwi"in a)

In [ ]:
a=["Apple","Banana"]
print("kiwi" not in a)

In [ ]:
a=3
b=5
a^=b
print(a)

In [ ]:
s="Hello world!"
print(s[4])

In [ ]:
print(s[11])

In [ ]:
print("s[0]:",s[0])

In [ ]:
print(s[-1])

In [ ]:
print(s[-6])

In [ ]:
print(s[-8])

In [ ]:
print(s[6:11])

In [ ]:
print(s[0:5])

In [ ]:
#print("Hello Students"*2)
var1 ="Python Programming"
print(var1[-5:-1]+'  Abdracadabra')

In [ ]:
print(var1[-5:])

In [ ]:
print(var1[:6])

In [ ]:
str1 = 'Hello World!' 
str1[::-1]

In [ ]:
str1[-1:]

In [ ]:
print(len(str1))

In [ ]:
print("This is NIk.\nI am from mumbai")

In [ ]:
txt = "one one was a race horse, two two was one too." 
txt.replace('one','three')

In [ ]:
txt = "Hello, welcome to my world."
x = txt.find("e")
x

In [ ]:
txt = "Company 12"
x = txt.isalnum()
x

In [ ]:
txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ",maxsplit=1)
x

In [ ]:
myTuple = ("John", "Peter", "Vicky")
"#".join(myTuple)

In [ ]:
s = 'aaa,bbb,ccc,dd      ' 
s.rstrip()

In [ ]:
s = '      aaa,bbb,ccc,dd      ' 
s.lstrip()

In [ ]:
s = '      aaa,bbb,ccc,dd      ' 
s.strip()

In [ ]:
s="I love my India"
s.startswith("I")

In [ ]:
s="I love my India"
s.endswith("I")

In [ ]:
txt = "banana"
x = txt.center(80)
print(x)

In [ ]:
txt = "banana"
x = txt.center(80,"o")
print(x)

In [ ]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple",10,24)

print(x)

In [ ]:
txt = "I love oooapples, apple are applemy favorite fruit"

x = txt.count("apple")

print(x)

In [ ]:
age=int(input("Enter age"))


if (age>=18):
    print("You can vote")

In [ ]:
age=int(input("Enter age"))


if (age>=18):
    print("You can vote")
else:
    print("You can't vote")

In [ ]:
number=int(input("Enter number"))
if (number == 0):
    print("Number is zero")
elif(number%2 == 0):
    print("Even Number") 
elif (number > 0):
    print("positive number")
elif (number <0):
    print("-ve")
else:
    print("Odd numbers")

In [2]:
number=int(input("Enter number"))
if (number%2 == 0):
    print("Even Number") 
if (number == 0):
    print("Number is zero")
if (number > 0):
    print("positive number")
if (number <0):
    print("-ve")
if (number%2 != 0):
    print("odd")

Enter number-7
-ve
odd

In [ ]:
number=int(input("Enter number"))
if (number > 0):
    print("positive number")
    if (number%2 == 0):
        print("Even Number") 
    else:
        print("odd")
else:
    print("-ve")

In [ ]:
#For

In [1]:
for i in range(10):
    print("Nikanksha Jain")

Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain
Nikanksha Jain

In [2]:
for i in range(10):
    print(i,"Nikanksha Jain")

0 Nikanksha Jain
1 Nikanksha Jain
2 Nikanksha Jain
3 Nikanksha Jain
4 Nikanksha Jain
5 Nikanksha Jain
6 Nikanksha Jain
7 Nikanksha Jain
8 Nikanksha Jain
9 Nikanksha Jain

In [3]:
for i in range(2,10):
    print(i,"Nikanksha Jain")

2 Nikanksha Jain
3 Nikanksha Jain
4 Nikanksha Jain
5 Nikanksha Jain
6 Nikanksha Jain
7 Nikanksha Jain
8 Nikanksha Jain
9 Nikanksha Jain

In [7]:
p=20
for i in range(p):#start,stop,step
    print(i,"Nikanksha Jain")

0 Nikanksha Jain
1 Nikanksha Jain
2 Nikanksha Jain
3 Nikanksha Jain
4 Nikanksha Jain
5 Nikanksha Jain
6 Nikanksha Jain
7 Nikanksha Jain
8 Nikanksha Jain
9 Nikanksha Jain
10 Nikanksha Jain
11 Nikanksha Jain
12 Nikanksha Jain
13 Nikanksha Jain
14 Nikanksha Jain
15 Nikanksha Jain
16 Nikanksha Jain
17 Nikanksha Jain
18 Nikanksha Jain
19 Nikanksha Jain

In [8]:
for i in range(2,20,2):#start,stop,step
    print(i,"Nikanksha Jain")

2 Nikanksha Jain
4 Nikanksha Jain
6 Nikanksha Jain
8 Nikanksha Jain
10 Nikanksha Jain
12 Nikanksha Jain
14 Nikanksha Jain
16 Nikanksha Jain
18 Nikanksha Jain

In [9]:
a="India"
for k in a:
    print(k)

I
n
d
i
a

In [13]:
a="India"
for k in range(len(a)):#5
    print(k)

0
1
2
3
4

In [14]:
a="India"
for k in range(len(a)):#5
    print(a)

India
India
India
India
India

In [15]:
a="India"
for k in range(len(a)):#5
    print(a[k])

I
n
d
i
a

In [16]:
fruits=["Apple","Banana","Cherry"]
for i in fruits:
    print(i)

Apple
Banana
Cherry

In [19]:
fruits=["Apple","Banana","Cherry"]
for i in range(len(fruits)):
    print(fruits[i])

Apple
Banana
Cherry

In [23]:
for i in range(20):
    if i==10:
        break
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
for i in range(20):
    if i==10:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [25]:
for i in range(20):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [28]:
for i in range(22):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21

In [37]:
a = 200
b = 3

if b > a:
     pass
else:
    print("a is less thn b")

a is less thn b

In [38]:
a="India"
a

'India'

In [41]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [47]:
for i in range(1, 11):
    for j in range(1, 11):
         print(i*j,end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [50]:

for i in range(5):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [53]:
for i in range(5):
    for j in range(5):
        print("*" , end=" ")
    print()

* * * * *
* * * * *
* * * * *

In [54]:
for i in range(3):
    for j in range(5):
        if(i==0 or i == 2 or j == 0 or j == 4):
            print("*" , end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
* * * * *

In [55]:
for i in range(6):
    for j in range(6-i):
        print("*" , end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [56]:
i=1
while i<=10:
  j=1
  while j<=10:
        print (i*j,end="\t")
        j+=1
  i+=1
  print ("\n")

1	2	3	4	5	6	7	8	9	10

2	4	6	8	10	12	14	16	18	20

3	6	9	12	15	18	21	24	27	30

4	8	12	16	20	24	28	32	36	40

5	10	15	20	25	30	35	40	45	50

6	12	18	24	30	36	42	48	54	60

7	14	21	28	35	42	49	56	63	70

8	16	24	32	40	48	56	64	72	80

9	18	27	36	45	54	63	72	81	90

10	20	30	40	50	60	70	80	90	100

    *
   * *
  * * *
 * * * *
* * * * *
* * * * *
 * * * *
  * * *
   * *
    *