In [1]:
x=100
y=200
print(x+y)

300

In [3]:
x="Welcome"
y="Python"
x=10
print(x)

10

In [7]:
x= "Wwelcome"
y = "210"
s= True
z= "10.5"

print(type(x))
print(type(y))
print(type(s))
print(type(z))

<class 'str'>
<class 'str'>
<class 'bool'>
<class 'str'>

In [11]:
x,y=10,20
x,y=y,x
print(x,y)

20 10

In [15]:
x=10
y=20
del x
print(y)

20

In [19]:
a="Welcome"

a="10"
print(a)

10

# operators

1.Arithmatic Operators

In [47]:
a=10
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)#Division
print(a//b)#Reminder
print(a%b)#Quotient
print(a**b)#Square

12
8
20
5.0
5
0
100

# Relational Operators

In [25]:
a=10
b=5 
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)

True
False
False
True
False
True

3. Logical Operators

In [26]:
#Logical operators are___ and or not

a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

# Concatination

In [27]:
print(10+10.5)

20.5

In [29]:
a = "welcome to python"
b = " Course"
print(a+b)

welcome to python Course

Formating

In [33]:
name = "pavan"
age = 27
sal = 5000
print(name,age, sal)
print("Name is:%s age is: %d salary is: %g" %(name,age,sal))
print("Name is:{} Age is:{} salary is:{}".format(name,age,sal))

pavan 27 5000
Name is:pavan age is: 27 salary is: 5000
Name is:pavan Age is:27 salary is:5000

Input from User

In [35]:
num1=input("Enter your first number:")
num2=input("Enter your second Number:")
print(type(num1))
print(type(num2))

Enter your first number:10
Enter your second Number:20
<class 'str'>
<class 'str'>

In [43]:
num1=int(input("Enter your first number: "))
num2=int(input("Enter your second Number: "))
print(float(num1+num2))

Enter your first number: 10
Enter your second Number: 30
40.0

# Control Statement

conditional Statement # if if..else elif

In [45]:
# print if he/she eligible for vot or not

age = int(input("Please enter your age: "))

if age >= 18:
    print("He/She are eligible for vote")

else:
    print("He/She are not eligible for vote")

Please enter your age: 15
He/She are not Eligible for vote

In [46]:
age = int(input("Please enter your age: "))
if True:
    print("true condition")
    
else:
    print("false condition")

Please enter your age: 20
true condition

In [50]:
# find a number i even or not

Num = int(input("Please enter a number: "))

if Num%2==0:
    print("you have entred even number")

else: 
    print("you have entered odd number")

Please enter a number: 13
you have entered odd number

In [56]:
num = 12
print("even number") if num%2==0 else print("odd number")

even number

In [55]:
# multiple statements in a single line

a = int(input("Please enter a number: "))
{print("hello"),print("python")} if a>10 else {print("java"),print("hi")}

Please enter a number: 20
hello
python

{None}

In [71]:
#identify week using numbers

weeknumber= int(input("please enter number 1 to 7: "))

if weeknumber ==1:
    print("Monday")
elif weeknumber ==2:
    print("Tuesday")
elif weeknumber ==3:
    print("wedneseday")
elif weeknumber ==4:
    print("Thursday")
elif weeknumber ==5:
    print("Friday")
elif weeknumber ==6:
    print("Saturday")
elif weeknumber ==7:
    print("Sunday")
else:
    print("Please enter valid number")

please enter number 1 to 7: 7
Sunday

In [73]:
# given number is positive or not

a = int(input("Please enter a number: "))

if a>= 0:
    print("you entered positive number")
else:
    print("you have entred negative number")

Please enter a number: 10
you entered positive number

In [82]:
#check largest of two numbers

a = int(input("please enter a number: "))
b = int(input("please enter a number: "))

if a > b:
    print(a)
elif a == b:
    print(a,b)
else:
    print(b)

please enter a number: 10
please enter a number: 10
10 10

In [83]:
a = input("Enter week number: ")

if a == "Monday":
    print(1)
else:
    print("wrong number")

Enter week number: Monday
1

In [84]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [85]:
print(list(range(1,10,2)))

[1, 3, 5, 7, 9]

In [86]:
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [ ]:
print(list(range(10,0,-1)))

while loop