In [1]:
a = 3
b = 5
a ^= b
print(a)

6

In [2]:
#bitwise Right shift 
print(15>>2)

3

In [3]:
#left Shift
print(14<<1)
print(14<<2)

28
56

# python comparison operators

In [4]:
print(10==20)
print(10!=20)
print(10>20)
print(10>=20)
print(10<=20)

False
True
False
False
True

# python logical operators

In [5]:
x = 5
print(x<10 and x>8)

False

In [6]:
x = 5
print(x<5 or x>10)

False

In [7]:
x = 5
print(not(x>10 or x>8))

True

In [8]:
x = ["apple","mango"]
y = ["apple","bananna"]
z = x
print(x is z)
print(x is y)
print(x==y)

True
False
False

In [9]:
#membership operator
x = ["apple","mango"]
print("mango" in x)
print("mango" not in x)

True
False

In [11]:
telugu = int(input())
hindi = int(input())
maths = int(input())
N_score = telugu + hindi + maths
telugu = int(input())
hindi = int(input())
maths = int(input())
S_score = telugu + hindi + maths

print(N_score == S_score)

10
20
30
10
20
30
True

In [12]:
# string = collection of characters
s = "python"
print(s[0])
print(s[0:3])

p
pyt

In [13]:
a = "python programmning"
print(a[-5:-1] + " asdcvfg")
print(a[-5:])
print(a[:6])
#start stop step
print(a[::1])
print(a[::2])
print(a[-1])

mnin asdcvfg
mning
python
python programmning
pto rgamig
g

In [14]:
#Exercise ask user to name and age
name = input("please enter your name: ")
age = int(input("please enter your age: "))
print("hi",name, "\n your age is:",age)

please enter your name: pavan
please enter your age: 27
hi pavan
 your age is: 27

In [15]:
telugu = int(input())
hindi = int(input())
maths = int(input())
N_score = telugu+hindi+maths
telugu = int(input())
hindi = int(input())
maths = int(input())
S_score = telugu+hindi+maths

print(N_score == S_score)

10
20
30
40
50
60
False

In [16]:
#exercise
time_seconds = int(input("Enter Time in seconds: "))
minutes = time_seconds//60
seconds = time_seconds%60

print("time taken", minutes, "minutes and",seconds,"seconds")

Enter Time in seconds: 125
time taken 2 minutes and 5 seconds

In [17]:
#Exercise
speed = int(input("enter speed in k/hr: "))
speed_mtr = speed/3.6
print("speed is ", speed_mtr,"meter/sec")

enter speed in k/hr: 150
speed is  41.666666666666664 meter/sec

In [18]:
#Exercise
Fahrenheit_temp = int(input("Enter temperature in Fahrenheit: "))
celsius_temp = (Fahrenheit_temp - 32) * 5 / 9

print("Temperature is ", celsius_temp, "°C ")

Enter temperature in Fahrenheit: 100
Temperature is  37.77777777777778 °C

In [21]:
#Exercise
number = input("enter a number: ")
last_two_digit = number[:-2]
print(last_two_digit)

enter a number: 1254
12

In [29]:
#Exercise
fivestar = int(input("How many fivestars you have: "))
dairymilk = int(input("How many dairymilk you have: "))
munch = int(input("How many munch you have: "))
total_chocolates = fivestar + dairymilk + munch

totalchocolate = total_chocolates//3
total_chocolate = total_chocolates%3
total_chocolates = 3 - total_chocolate
totalchocolates_need = total_chocolates + total_chocolate

print("Equally distributed chocolates are ",totalchocolate, " and buy ", totalchocolates_need )

How many fivestars you have: 10
How many dairymilk you have: 10
How many munch you have: 10
Equally distributed chocolates are  10  and buy  3

In [25]:
print(20//3)
print(10/3)
print(20%3)

6
3.3333333333333335
2

In [30]:
print(10//3)
print(10%3)

3
1

In [37]:
txt = "i am learning python. "
txt.replace('i','you')

'you am learnyoung python. '

In [40]:
txt = "i am learning python. "
x = txt.find('a')
x

2

In [42]:
txt = "i am learning python. 12 " # False because space
x = txt.isalnum()
x

False

In [53]:
txt = "i am learning python, you have any doubt about this "
x = txt.split(",",maxsplit=1)
x

['i am learning python', ' you have any doubt about this ']

In [50]:
mytuple = ("john","peter","vicky")
"#".join(mytuple)

'john#peter#vicky'

In [60]:
s = '   aaa,bbb,ccc,dd  '
s.rstrip() #removing spaces
s.lstrip()

'aaa,bbb,ccc,dd  '

In [64]:
a = "I love my India"
a.startswith("a")
a.endswith("a")

True

In [65]:
txt = "bananna"
x = txt.center(80)
print(x)

                                    bananna

In [66]:
txt = "bananna"
x = txt.center(80,"0")
print(x)

000000000000000000000000000000000000bananna0000000000000000000000000000000000000

In [67]:
txt = "apple apple apple banna"
x = txt.count("apple")
print(x)

3

In [68]:
txt = "apple apple apple banna"
x = txt.count("apple",10,24)
print(x)

1