In [ ]:
# If statements
age = int(input("Enter your age: "))

if age>=18:
    print("You can eligible for vote.")
else:
    print("you are not Eligible for vote.")

In [ ]:
num = int(input("enter Number: "))

if (num%2 == 0):
    print("Even number")
elif (num%2 > 0):
    print("Positive number")
elif (num%2 < 0):
    print("Negative number")
else:
    print("odd number")

In [ ]:
num = int(input("enter Number: "))

if (num%2 == 0):
    print("Even number")
elif (num > 0):
    print("Positive number")
elif (num < 0):
    print("Negative number")
else:
    print("odd number")

In [ ]:
num = int(input("enter Number: "))

if (num%2 == 0):
    print("Even number")
if (num > 0):
    print("Positive number")
if (num < 0):
    print("Negative number")
else:
    print("odd number")

In [ ]:
#nested if statement
a = int(input("Enter a number "))
if a>0:
    print("positive number.")
    if(a%2 == 0):
        print("Even number")
    else:
        ("positive")
else:
    print("Negative")

In [ ]:
pH_value = float(input("Enter pH value: "))

if pH_value <= 3:
    print("Strong acid")
elif pH_value <= 6:
    print("weak acid")
elif pH_value ==7:
    print("neutral")
elif pH_value <11:
    print("weak base")
elif pH_value <14:
    print("strong base")
else:
    print("not valid")

In [ ]:
#loops
for i in range(5):
    print("pavan")

In [ ]:
for i in range(5): #i<5
    print(i,"pavan")

In [ ]:
for i in range(1,5): #i starts from 1 index
    print(i,"pavan")

In [ ]:
for i in range(0,5,2): #i starts from 0 index and 2 steps
    print(i,"pavan")

In [ ]:
i = 5
for i in range(i):
    print("pavan")

In [ ]:
a = "India"
for i in a:
    print(i)

In [ ]:
a = "India"
for i in range(len(a)):
    print(a)

In [ ]:
a = "India"
for i in range(len(a)):
    print(a[i])

In [ ]:
fruits = ["bananna","apple","mango"]
for i in range(len(fruits)):
    print(fruits[i])

In [ ]:
fruits = ["bananna","apple","mango"]
for i in range(len(fruits)):
    print(i)

In [ ]:
fruits = ["bananna","apple","mango"]
for i in range(len(fruits)):
    print(fruits)

In [ ]:
#break continue 

for i in range(20):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

In [ ]:
a = 33     # hold statement need to write in future
b = 200
if b>a:
    pass

In [ ]:
for i in ("apple"):
    if i == "l":
        break
    print(i)

In [ ]:
#While loop start stop step

# difference between for and while loop for forloop aonly one condition work while loop is work multiple state ments
i = 0
while i <5:
    print(i)
    i =i+1

In [ ]:
for i in range(1,11):
    for j in range(1,11):
        print(i*2,end="\t")
    print()

In [ ]:
rows = 5
for i in range(5):
    for j in range(i+1):
        print("*",end = "\t")
    print(' ')

In [ ]:
row = int(input())
for i in range(row):
    for j in range(i+1):
        print("*",end=" ")
    print(' ')

In [2]:

for i in range(3):
    for j in range(5):
        if (i==0 or i ==2 or j == 0 or j == 4):
            print("*",end = "\t")
        else:
            print(" ", end= " ")
        
    print()

*	*	*	*	*
*	      *
*	*	*	*	*

In [ ]:
for i in range(6):
    for j in range(6-i):
        print("*",end=" ")
    print(' ')

In [5]:
i = 1
while i<=10:
    j = 1
    while j<=10:
        print(i*j,end="\t")
        j=j+1
    i = i+1
print("\n")

1	2	3	4	5	6	7	8	9	10	2	4	6	8	10	12	14	16	18	20	3	6	9	12	15	18	21	24	27	30	4	8	12	16	20	24	28	32	36	40	5	10	15	20	25	30	35	40	45	50	6	12	18	24	30	36	42	48	54	60	7	14	21	28	35	42	49	56	63	70	8	16	24	32	40	48	56	64	72	80	9	18	27	36	45	54	63	72	81	90	10	20	30	40	50	60	70	80	90	100

In [6]:
#list
a = ["apple", "banana",12,True]
print(a)

['apple', 'banana', 12, True]

In [11]:
l = [12,10,45,20]
l1 = ["jay","pavan","kumar"]
print(l)
print(l1)
print(type(l))
print(l1[0])

[12, 10, 45, 20]
['jay', 'pavan', 'kumar']
<class 'list'>
jay

In [12]:
marks = [10,23,41,75]
i =-1
while i>=-4:
    print(marks[i])
    i = i-1

75
41
23
10

In [13]:
marks = [10,23,41,75]
i =0
while i<4:
    print(marks[i])
    i = i+1

10
23
41
75

In [14]:
list = ['abcd',786,2.23,'john',70.2]
list[0]=111
list

[111, 786, 2.23, 'john', 70.2]

In [15]:
list[1:3] = ['sam',2000,300.9]
list

[111, 'sam', 2000, 300.9, 'john', 70.2]

In [17]:
list.append("sena")
list

[111, 'sam', 2000, 300.9, 'john', 70.2, 'sena']

In [18]:
list.append([1,2,3])
list

[111, 'sam', 2000, 300.9, 'john', 70.2, 'sena', [1, 2, 3]]